<%- include('partials/header.partial.ejs') -%>
    <p>Hi <%= data.name %>,</p>
    <br/>
    <p>Here is the reponse for your enquiry on Mortgage Basket Website!</p>
    <p><%= data.response %></p>
    <br/>
    <p><small><em>Your Enquiry was:</em></small></p>
    <p><small><em><%= data.message %></em></small></p>
    <br/>
<%- include('partials/footer.partial.ejs') -%>